<!-- <nav class="navbar navbar-default" role="navigation"> -->
<nav>
  <div class="nav-wrapper">
    <a href="#" class='brand-logo'>Logo</a>
    <ul id='nav-mobile' class='right hide-on-med-and-down'>
      <li><a href="/">Mapa</a></li>
      <li><a href="/publications">Lista</a></li>
      <li><a href="/publications/new">Nueva</a></li>
      <li><a href="/publications/review">Revision</a></li>
    </ul>
  </div>
</nav>
