nav class='light-blue'
  .nav-wrapper
    a href='#' class='brand-logo' Logo
    ul#nav-mobile class='right hide-on-med-and-down'
      li
        a href="/" Mapa
      li
        a href="/publications" Lista
      li
        a href="/publications/new" Nueva
      li
        a href="/publications/review" Revision
      - if user_signed_in?
        li
          = link_to "Desloguear", destroy_user_session_path
