html, body {
  height: 100%;
  width: 100%;
}

#map {
  height: 90%;
}

.facebook-button {
  background-color: #3b5998
}

.flash-messages {
  // position: absolute;
  // z-index: 1;
  left: 15%;
  background-color: lightgray;
  padding: 0.5rem;
}
