html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2rem;
}

#map {
  height: 95.5%;
}

.flash-messages {
  // position: absolute;
  // z-index: 1;
  left: 15%;
  background-color: lightgray;
  padding: 0.5rem;

  .notice {
    color: green;

  }

  .alert {
    color: red;
  }
}
